body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /*background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSS0CZBb0v0A1_Y62j6iZpRaPKzVgH3zwQ4YJTYjGr0b7PTYw2N&usqp=CAU);*/
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
    position: center;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



img {
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}

.form-wrapper {
    width: 320px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 15px 22px 6px rgba(0,0,0,0.75);
}

    .form-wrapper .user {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: calc(-100px / 2);
        left: calc(50% - 50px);
    }

    .form-wrapper h2 {
        color: #FBC02D;
        margin-top: 60px;
        font-weight: 700;
        text-align: center;
    }

    .form-wrapper img {
        display: block;
        margin: auto;
    }

form label, form input {
    display: block;
    margin-left: 10px;
}

form label {
    color: #FFEB3B;
    font-weight: 700;
    margin: 10px 10px 0px;
}

form input {
    width: 90%;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #FFC107;
    padding: 5px 10px;
    color: #fff;
    margin-bottom: 20px;
}

form button {
    display: block;
    width: 80%;
    text-align: center;
    background: #FFEB3B;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 10px;
    margin: 10px auto;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

    form button:hover {
        background: #FFF9C4;
        color: #212121;
    }

.forget {
    color: #FFF9C4;
    margin: 20px 10px;
}
