
@{
    ViewBag.Title = "Contactar";
}

<h2>Contactar</h2>
<h1>Restaurante la lucha</h1>
<p>Direccion: Av, Calle, San Salvador, El Salvador</p>
<p>Telefono: 2423-0509</p>
<img src="~/images/1.jpg" />

